## 파이썬
# 파이썬 제어문

In [5]:
n = 1

while n<10:
    print(n)
    n = n+1

1
2
3
4
5
6
7
8
9

In [8]:
while 1:
    print('running...')
    break

running...

In [10]:
n=0
running = True

while running:
    n = n+1
    if n**2>56789:
        running = False

print(n, n**2)

239 57121

In [11]:
n=0

while 1:
    n = n+1
    if n**2>56789:
        break

print(n, n**2)

239 57121

In [12]:
for i in [0,1,2,3,4]:
    print(i, i*i, i*i*i)

0 0 0
1 1 1
2 4 8
3 9 27
4 16 64

for i in 리스트:   형태로 사용함

In [13]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [14]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
score = [7,3,9,4,7]

In [17]:
for i in score:
    print('점수는',i)

점수는 7
점수는 3
점수는 9
점수는 4
점수는 7

In [18]:
for i in range(5): # range(0,5)
    print(score[i])

7
3
9
4
7

In [19]:
for i in range(5,10):
    print(i)

5
6
7
8
9

In [21]:
for i in range(0,100,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [25]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [26]:
# 2차원 표 형태의 데이터 생성
data = []

for i in range(1,10):
    l = []
    for j in range(1,10):
        l.append(i*j)
    data.append(l)
    
data

[[1, 2, 3, 4, 5, 6, 7, 8, 9],
 [2, 4, 6, 8, 10, 12, 14, 16, 18],
 [3, 6, 9, 12, 15, 18, 21, 24, 27],
 [4, 8, 12, 16, 20, 24, 28, 32, 36],
 [5, 10, 15, 20, 25, 30, 35, 40, 45],
 [6, 12, 18, 24, 30, 36, 42, 48, 54],
 [7, 14, 21, 28, 35, 42, 49, 56, 63],
 [8, 16, 24, 32, 40, 48, 56, 64, 72],
 [9, 18, 27, 36, 45, 54, 63, 72, 81]]

In [27]:
# 3차원 데이터 생성
data = []
for i in range(3):
    l = []
    for j in range(3):
        m = []
        for k in range(3):
            m.append(i+j+k)
        l.append(m)
    data.append(l)
data

[[[0, 1, 2], [1, 2, 3], [2, 3, 4]],
 [[1, 2, 3], [2, 3, 4], [3, 4, 5]],
 [[2, 3, 4], [3, 4, 5], [4, 5, 6]]]

In [29]:
l = [[1,2,3], [4,5,6], [7,8,9], [10,11,12]]
data = []
for a,b,c in l:
    data.append(b)
    
data

[2, 5, 8, 11]

### 리스트 내포

In [31]:
n = -33

a = 1 if n>0 else 0
a

0

In [32]:
l = []
for i in range(10):
    l.append(i*i)
    
l

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [33]:
l = [i*i for i in range(10)]
l

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [35]:
l = [[i,i*i,i*i*i] for i in range(10)]
l

[[0, 0, 0],
 [1, 1, 1],
 [2, 4, 8],
 [3, 9, 27],
 [4, 16, 64],
 [5, 25, 125],
 [6, 36, 216],
 [7, 49, 343],
 [8, 64, 512],
 [9, 81, 729]]

In [36]:
l = []
for i in range(10):
    for j in range(10):
        l.append([i,j,i*j])
        
l

[[0, 0, 0],
 [0, 1, 0],
 [0, 2, 0],
 [0, 3, 0],
 [0, 4, 0],
 [0, 5, 0],
 [0, 6, 0],
 [0, 7, 0],
 [0, 8, 0],
 [0, 9, 0],
 [1, 0, 0],
 [1, 1, 1],
 [1, 2, 2],
 [1, 3, 3],
 [1, 4, 4],
 [1, 5, 5],
 [1, 6, 6],
 [1, 7, 7],
 [1, 8, 8],
 [1, 9, 9],
 [2, 0, 0],
 [2, 1, 2],
 [2, 2, 4],
 [2, 3, 6],
 [2, 4, 8],
 [2, 5, 10],
 [2, 6, 12],
 [2, 7, 14],
 [2, 8, 16],
 [2, 9, 18],
 [3, 0, 0],
 [3, 1, 3],
 [3, 2, 6],
 [3, 3, 9],
 [3, 4, 12],
 [3, 5, 15],
 [3, 6, 18],
 [3, 7, 21],
 [3, 8, 24],
 [3, 9, 27],
 [4, 0, 0],
 [4, 1, 4],
 [4, 2, 8],
 [4, 3, 12],
 [4, 4, 16],
 [4, 5, 20],
 [4, 6, 24],
 [4, 7, 28],
 [4, 8, 32],
 [4, 9, 36],
 [5, 0, 0],
 [5, 1, 5],
 [5, 2, 10],
 [5, 3, 15],
 [5, 4, 20],
 [5, 5, 25],
 [5, 6, 30],
 [5, 7, 35],
 [5, 8, 40],
 [5, 9, 45],
 [6, 0, 0],
 [6, 1, 6],
 [6, 2, 12],
 [6, 3, 18],
 [6, 4, 24],
 [6, 5, 30],
 [6, 6, 36],
 [6, 7, 42],
 [6, 8, 48],
 [6, 9, 54],
 [7, 0, 0],
 [7, 1, 7],
 [7, 2, 14],
 [7, 3, 21],
 [7, 4, 28],
 [7, 5, 35],
 [7, 6, 42],
 [7, 7, 49],
 [7, 8, 56],
 [7, 9, 63],
 [8, 0, 0],
 [8, 1, 8],
 [8, 2, 16],
 [8, 3, 24],
 [8, 4, 32],
 [8, 5, 40],
 [8, 6, 48],
 [8, 7, 56],
 [8, 8, 64],
 [8, 9, 72],
 [9, 0, 0],
 [9, 1, 9],
 [9, 2, 18],
 [9, 3, 27],
 [9, 4, 36],
 [9, 5, 45],
 [9, 6, 54],
 [9, 7, 63],
 [9, 8, 72],
 [9, 9, 81]]

In [39]:
l = [ [i,j,i*j] for i in range(10) for j in range(i+1) ]
l

[[0, 0, 0],
 [1, 0, 0],
 [1, 1, 1],
 [2, 0, 0],
 [2, 1, 2],
 [2, 2, 4],
 [3, 0, 0],
 [3, 1, 3],
 [3, 2, 6],
 [3, 3, 9],
 [4, 0, 0],
 [4, 1, 4],
 [4, 2, 8],
 [4, 3, 12],
 [4, 4, 16],
 [5, 0, 0],
 [5, 1, 5],
 [5, 2, 10],
 [5, 3, 15],
 [5, 4, 20],
 [5, 5, 25],
 [6, 0, 0],
 [6, 1, 6],
 [6, 2, 12],
 [6, 3, 18],
 [6, 4, 24],
 [6, 5, 30],
 [6, 6, 36],
 [7, 0, 0],
 [7, 1, 7],
 [7, 2, 14],
 [7, 3, 21],
 [7, 4, 28],
 [7, 5, 35],
 [7, 6, 42],
 [7, 7, 49],
 [8, 0, 0],
 [8, 1, 8],
 [8, 2, 16],
 [8, 3, 24],
 [8, 4, 32],
 [8, 5, 40],
 [8, 6, 48],
 [8, 7, 56],
 [8, 8, 64],
 [9, 0, 0],
 [9, 1, 9],
 [9, 2, 18],
 [9, 3, 27],
 [9, 4, 36],
 [9, 5, 45],
 [9, 6, 54],
 [9, 7, 63],
 [9, 8, 72],
 [9, 9, 81]]

In [40]:
# [[1,2,3],[2,3,4],[3,4,5]]

l = [ [i+j for j in range(3)] for i in range(1,4)]
l

[[1, 2, 3], [2, 3, 4], [3, 4, 5]]

In [41]:
# [[1,2,3], [4,5,6], [7,8,9]]

l3=[ [ i+j for j in range(3)] for i in range(1,9,3) ]
l3

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [42]:
l = [[i+j for j in range(1,4)] for i in range(0,7,3)]
l

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [43]:
l = [[i*3+j+1 for j in range(3)] for i in range(3)]
l

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [46]:
l = [i for i in range(10) if i%2==1]
l

[1, 3, 5, 7, 9]

In [49]:
l = [i for i in range(1,10,2)]
l

[1, 3, 5, 7, 9]

In [50]:
l = [i for i in range(-10,10) if abs(i)>5]
l

[-10, -9, -8, -7, -6, 6, 7, 8, 9]

### 도전문제
- 10000 보다 작은 소수를 모두 구하시오.

In [54]:
import math

#math.sqrt() : 제곱근 적용

소수 = [2]

for n in range(3,10000,2):
    found = False
    for i in 소수:
        if i>math.sqrt(n): break
            
        if n%i==0:
            found=True
            break
    if found==False:
        소수.append(n)
        
소수

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97,
 101,
 103,
 107,
 109,
 113,
 127,
 131,
 137,
 139,
 149,
 151,
 157,
 163,
 167,
 173,
 179,
 181,
 191,
 193,
 197,
 199,
 211,
 223,
 227,
 229,
 233,
 239,
 241,
 251,
 257,
 263,
 269,
 271,
 277,
 281,
 283,
 293,
 307,
 311,
 313,
 317,
 331,
 337,
 347,
 349,
 353,
 359,
 367,
 373,
 379,
 383,
 389,
 397,
 401,
 409,
 419,
 421,
 431,
 433,
 439,
 443,
 449,
 457,
 461,
 463,
 467,
 479,
 487,
 491,
 499,
 503,
 509,
 521,
 523,
 541,
 547,
 557,
 563,
 569,
 571,
 577,
 587,
 593,
 599,
 601,
 607,
 613,
 617,
 619,
 631,
 641,
 643,
 647,
 653,
 659,
 661,
 673,
 677,
 683,
 691,
 701,
 709,
 719,
 727,
 733,
 739,
 743,
 751,
 757,
 761,
 769,
 773,
 787,
 797,
 809,
 811,
 821,
 823,
 827,
 829,
 839,
 853,
 857,
 859,
 863,
 877,
 881,
 883,
 887,
 907,
 911,
 919,
 929,
 937,
 941,
 947,
 953,
 967,
 971,
 977,
 983,
 991,
 997,
 1009,
 1013,
 1019,
 1021,
 1031,
 1033,
 1039,
 1049,
 1051,
 1061,
 1063,
 1069,
 1087,
 1091,
 1093,
 1097,
 1103,
 1109,
 1117,
 1123,
 1129,
 1151,
 1153,
 1163,
 1171,
 1181,
 1187,
 1193,
 1201,
 1213,
 1217,
 1223,
 1229,
 1231,
 1237,
 1249,
 1259,
 1277,
 1279,
 1283,
 1289,
 1291,
 1297,
 1301,
 1303,
 1307,
 1319,
 1321,
 1327,
 1361,
 1367,
 1373,
 1381,
 1399,
 1409,
 1423,
 1427,
 1429,
 1433,
 1439,
 1447,
 1451,
 1453,
 1459,
 1471,
 1481,
 1483,
 1487,
 1489,
 1493,
 1499,
 1511,
 1523,
 1531,
 1543,
 1549,
 1553,
 1559,
 1567,
 1571,
 1579,
 1583,
 1597,
 1601,
 1607,
 1609,
 1613,
 1619,
 1621,
 1627,
 1637,
 1657,
 1663,
 1667,
 1669,
 1693,
 1697,
 1699,
 1709,
 1721,
 1723,
 1733,
 1741,
 1747,
 1753,
 1759,
 1777,
 1783,
 1787,
 1789,
 1801,
 1811,
 1823,
 1831,
 1847,
 1861,
 1867,
 1871,
 1873,
 1877,
 1879,
 1889,
 1901,
 1907,
 1913,
 1931,
 1933,
 1949,
 1951,
 1973,
 1979,
 1987,
 1993,
 1997,
 1999,
 2003,
 2011,
 2017,
 2027,
 2029,
 2039,
 2053,
 2063,
 2069,
 2081,
 2083,
 2087,
 2089,
 2099,
 2111,
 2113,
 2129,
 2131,
 2137,
 2141,
 2143,
 2153,
 2161,
 2179,
 2203,
 2207,
 2213,
 2221,
 2237,
 2239,
 2243,
 2251,
 2267,
 2269,
 2273,
 2281,
 2287,
 2293,
 2297,
 2309,
 2311,
 2333,
 2339,
 2341,
 2347,
 2351,
 2357,
 2371,
 2377,
 2381,
 2383,
 2389,
 2393,
 2399,
 2411,
 2417,
 2423,
 2437,
 2441,
 2447,
 2459,
 2467,
 2473,
 2477,
 2503,
 2521,
 2531,
 2539,
 2543,
 2549,
 2551,
 2557,
 2579,
 2591,
 2593,
 2609,
 2617,
 2621,
 2633,
 2647,
 2657,
 2659,
 2663,
 2671,
 2677,
 2683,
 2687,
 2689,
 2693,
 2699,
 2707,
 2711,
 2713,
 2719,
 2729,
 2731,
 2741,
 2749,
 2753,
 2767,
 2777,
 2789,
 2791,
 2797,
 2801,
 2803,
 2819,
 2833,
 2837,
 2843,
 2851,
 2857,
 2861,
 2879,
 2887,
 2897,
 2903,
 2909,
 2917,
 2927,
 2939,
 2953,
 2957,
 2963,
 2969,
 2971,
 2999,
 3001,
 3011,
 3019,
 3023,
 3037,
 3041,
 3049,
 3061,
 3067,
 3079,
 3083,
 3089,
 3109,
 3119,
 3121,
 3137,
 3163,
 3167,
 3169,
 3181,
 3187,
 3191,
 3203,
 3209,
 3217,
 3221,
 3229,
 3251,
 3253,
 3257,
 3259,
 3271,
 3299,
 3301,
 3307,
 3313,
 3319,
 3323,
 3329,
 3331,
 3343,
 3347,
 3359,
 3361,
 3371,
 3373,
 3389,
 3391,
 3407,
 3413,
 3433,
 3449,
 3457,
 3461,
 3463,
 3467,
 3469,
 3491,
 3499,
 3511,
 3517,
 3527,
 3529,
 3533,
 3539,
 3541,
 3547,
 3557,
 3559,
 3571,
 3581,
 3583,
 3593,
 3607,
 3613,
 3617,
 3623,
 3631,
 3637,
 3643,
 3659,
 3671,
 3673,
 3677,
 3691,
 3697,
 3701,
 3709,
 3719,
 3727,
 3733,
 3739,
 3761,
 3767,
 3769,
 3779,
 3793,
 3797,
 3803,
 3821,
 3823,
 3833,
 3847,
 3851,
 3853,
 3863,
 3877,
 3881,
 3889,
 3907,
 3911,
 3917,
 3919,
 3923,
 3929,
 3931,
 3943,
 3947,
 3967,
 3989,
 4001,
 4003,
 4007,
 4013,
 4019,
 4021,
 4027,
 4049,
 4051,
 4057,
 4073,
 4079,
 4091,
 4093,
 4099,
 4111,
 4127,
 4129,
 4133,
 4139,
 4153,
 4157,
 4159,
 4177,
 4201,
 4211,
 4217,
 4219,
 4229,
 4231,
 4241,
 4243,
 4253,
 4259,
 4261,
 4271,
 4273,
 4283,
 4289,
 4297,
 4327,
 4337,
 4339,
 4349,
 4357,
 4363,
 4373,
 4391,
 4397,
 4409,
 4421,
 4423,
 4441,
 4447,
 4451,
 4457,
 4463,
 4481,
 4483,
 4493,
 4507,
 4513,
 4517,
 4519,
 4523,
 4547,
 4549,
 4561,
 4567,
 4583,
 4591,
 4597,
 4603,
 4621,
 4637,
 4639,
 4643,
 4649,
 4651,
 4657,
 4663,
 4673,
 4679,
 4691,
 4703,
 4721,
 4723,
 4729,
 4733,
 4751,
 4759,
 4783,
 4787,
 4789,
 4793,
 4799,
 4801,
 4813,
 4817,
 4831,
 4861,
 4871,
 4877,
 4889,
 4903,
 4909,
 4919,
 4931,
 4933,
 4937,
 4943,
 4951,
 4957,
 4967,
 4969,
 4973,
 4987,
 4993,
 4999,
 5003,
 5009,
 5011,
 5021,
 5023,
 5039,
 5051,
 5059,
 5077,
 5081,
 5087,
 5099,
 5101,
 5107,
 5113,
 5119,
 5147,
 5153,
 5167,
 5171,
 5179,
 5189,
 5197,
 5209,
 5227,
 5231,
 5233,
 5237,
 5261,
 5273,
 5279,
 5281,
 5297,
 5303,
 5309,
 5323,
 5333,
 5347,
 5351,
 5381,
 5387,
 5393,
 5399,
 5407,
 5413,
 5417,
 5419,
 5431,
 5437,
 5441,
 5443,
 5449,
 5471,
 5477,
 5479,
 5483,
 5501,
 5503,
 5507,
 5519,
 5521,
 5527,
 5531,
 5557,
 5563,
 5569,
 5573,
 5581,
 5591,
 5623,
 5639,
 5641,
 5647,
 5651,
 5653,
 5657,
 5659,
 5669,
 5683,
 5689,
 5693,
 5701,
 5711,
 5717,
 5737,
 5741,
 5743,
 5749,
 5779,
 5783,
 5791,
 5801,
 5807,
 5813,
 5821,
 5827,
 5839,
 5843,
 5849,
 5851,
 5857,
 5861,
 5867,
 5869,
 5879,
 5881,
 5897,
 5903,
 5923,
 5927,
 5939,
 5953,
 5981,
 5987,
 6007,
 6011,
 6029,
 6037,
 6043,
 6047,
 6053,
 6067,
 6073,
 6079,
 6089,
 6091,
 6101,
 6113,
 6121,
 6131,
 6133,
 6143,
 6151,
 6163,
 6173,
 6197,
 6199,
 6203,
 6211,
 6217,
 6221,
 6229,
 6247,
 6257,
 6263,
 6269,
 6271,
 6277,
 6287,
 6299,
 6301,
 6311,
 6317,
 6323,
 6329,
 6337,
 6343,
 6353,
 6359,
 6361,
 6367,
 6373,
 6379,
 6389,
 6397,
 6421,
 6427,
 6449,
 6451,
 6469,
 6473,
 6481,
 6491,
 6521,
 6529,
 6547,
 6551,
 6553,
 6563,
 6569,
 6571,
 6577,
 6581,
 6599,
 6607,
 6619,
 6637,
 6653,
 6659,
 6661,
 6673,
 6679,
 6689,
 6691,
 6701,
 6703,
 6709,
 6719,
 6733,
 6737,
 6761,
 6763,
 6779,
 6781,
 6791,
 6793,
 6803,
 6823,
 6827,
 6829,
 6833,
 6841,
 6857,
 6863,
 6869,
 6871,
 6883,
 6899,
 6907,
 6911,
 6917,
 6947,
 6949,
 6959,
 6961,
 6967,
 6971,
 6977,
 6983,
 6991,
 6997,
 7001,
 7013,
 7019,
 7027,
 7039,
 7043,
 7057,
 7069,
 7079,
 7103,
 7109,
 7121,
 7127,
 7129,
 7151,
 7159,
 7177,
 7187,
 7193,
 7207,
 7211,
 7213,
 7219,
 7229,
 7237,
 7243,
 7247,
 7253,
 7283,
 7297,
 7307,
 7309,
 7321,
 7331,
 7333,
 7349,
 7351,
 7369,
 7393,
 7411,
 7417,
 7433,
 7451,
 7457,
 7459,
 7477,
 7481,
 7487,
 7489,
 7499,
 7507,
 7517,
 7523,
 7529,
 7537,
 7541,
 7547,
 7549,
 7559,
 7561,
 7573,
 7577,
 7583,
 7589,
 7591,
 7603,
 7607,
 7621,
 7639,
 7643,
 7649,
 7669,
 7673,
 7681,
 7687,
 7691,
 7699,
 7703,
 7717,
 7723,
 7727,
 7741,
 7753,
 7757,
 7759,
 7789,
 7793,
 7817,
 7823,
 7829,
 7841,
 7853,
 7867,
 7873,
 7877,
 7879,
 7883,
 7901,
 7907,
 7919,
 ...]

### 함수

In [55]:
def myf(n1, n2):
    n = n1+n2
    return n

In [56]:
myf(1,2)

3

In [57]:
myf(1.2, 3.1)

4.3

In [58]:
myf('a', 'b')

'ab'

In [59]:
myf([1,2,3], [4,5,6])

[1, 2, 3, 4, 5, 6]

In [60]:
myf('a',5)

TypeError: must be str, not int

In [65]:
l = [-3,4,1,-5,2]
sorted(l, key=abs)

[1, 2, -3, 4, -5]

In [66]:
[abs(-3), abs(4), abs(1), abs(-5), abs(2)]

[3, 4, 1, 5, 2]

In [67]:
def myf(n):
    return abs(3.1-n)

l = [3,4,1,5,2]
sorted(l, key=myf)

[3, 4, 2, 5, 1]

In [68]:
def myf(n1, n2):
    r1 = n1+n2
    r2 = n1*n2
    return r1, r2

In [69]:
result = myf(3, 5)
result

(8, 15)

In [70]:
result[0]

8

In [71]:
result[1]

15

In [72]:
r1, r2 = myf(3,5)

In [73]:
r1

8

In [74]:
r2

15

In [75]:
print(1,2,3,4,5,6,100,111,122)

1 2 3 4 5 6 100 111 122

In [76]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [78]:
print('반갑습니다','여러분', sep='###', end='\n@@@\n')
print('그래~')

반갑습니다###여러분
@@@
그래~

### 변수

In [79]:
l = [1,2,3,4,5]
l2 = l # l2=[1,2,3,4,5]

In [80]:
l2[0]=999
l2

[999, 2, 3, 4, 5]

In [81]:
l

[999, 2, 3, 4, 5]

In [82]:
l = [1,2,3,4,5]
l2 = l.copy() # l2 = l[:]

In [83]:
def myf(x):
    return x+y

In [84]:
myf(3)

NameError: name 'y' is not defined

In [85]:
y=1
myf(3)

4

In [86]:
n = 1
n +=1 # n = n+1
n

2

In [87]:
n = 3

In [88]:
def myf(n):
    return n**2

In [89]:
myf(2)

4

In [90]:
n

3

In [91]:
l = [1,2,3,4,5]

In [92]:
def myf(a):
    a[0]=999

In [93]:
myf(l) # a=l

In [94]:
l

[999, 2, 3, 4, 5]

In [96]:
def myf(n):
    kkk = 'hahaha'
    return kkk*n

In [97]:
myf(3)

'hahahahahahahahaha'

In [98]:
kkk

NameError: name 'kkk' is not defined

In [101]:
l = [3,-2,1,4,-5]
sorted(l, key=lambda n: abs(n))

[1, -2, 3, 4, -5]

In [105]:
import math

math.sin(11)

-0.9999902065507035

In [106]:
l = list(range(100))
sorted(l, key=lambda x: math.sin(x+1))

[10,
 54,
 98,
 79,
 35,
 29,
 73,
 60,
 16,
 4,
 48,
 92,
 85,
 41,
 23,
 67,
 66,
 22,
 42,
 86,
 91,
 47,
 3,
 17,
 61,
 72,
 28,
 36,
 80,
 97,
 53,
 9,
 11,
 55,
 99,
 78,
 34,
 30,
 74,
 59,
 15,
 5,
 49,
 93,
 84,
 40,
 24,
 68,
 65,
 21,
 43,
 87,
 90,
 46,
 2,
 18,
 62,
 71,
 27,
 37,
 81,
 96,
 52,
 8,
 12,
 56,
 77,
 33,
 31,
 75,
 58,
 14,
 6,
 50,
 94,
 83,
 39,
 25,
 69,
 64,
 20,
 0,
 44,
 88,
 89,
 45,
 1,
 19,
 63,
 70,
 26,
 38,
 82,
 95,
 51,
 7,
 13,
 57,
 76,
 32]

In [107]:
print('Hello!') # 출력

Hello!

In [108]:
s = input()

I am Tom

In [109]:
s

'I am Tom'

In [110]:
s = input()

3

### 파일 입출력
- 대표적인 한글 인코딩 방식은 "utf-8" 과 "cp949" 두 가지가 있다
- utf-8 : 실제적인 국제 표준 => 리눅스, 맥, 기타 등등
- cp949 : 윈도우 방식 (메모장의 "ANSI" 에 해당)

In [124]:
f = open('안녕.txt')

In [125]:
f.read() # 윈도우 메모장의 "ANSI" 방식이 디폴트이다

'안녕하세요\n반가워요~'

In [126]:
f.close()